<div class="content content-narrow" ng-init="initChartsFlot();">
    <div class="block">
        <div class="block-header">
            <ul class="block-options">
                <li>
                    <span class="js-flot-live-info text-info font-w700"></span>
                </li>
                <li>
                    <span><i class="fa fa-refresh fa-spin text-muted"></i></span>
                </li>
                </li>
            </ul>
            <h3 class="block-title">Demo</h3>
        </div>
        <div class="block-content block-content-full text-center">
            <div style="height: 330px;"><canvas class="js-chartjs-lines"></canvas></div>
        </div>
    </div>
    <h1 class="blockdiv" ng-show="showCountdown">
        Alarm ring in: <span class="text-danger" ng-bind="countdown"></span>
    </h1>
    <h1 class="blockdiv" ng-show="showAlarm">
        Text reminder deliver to caretaker in: <span class="text-danger" ng-bind="countdown"></span>
    </h1>
    <h1 class="blockdiv" ng-show="msgSent">
        Text reminder have been SENT
    </h1>
    <div class="buttun btn btn-success hidden" ng-click="testPubNub('Start counting')">Start counting</div>
</div>