<div class="content content-narrow">
    <div class="block">
        <div class="block-header">
            <ul class="block-options">
                <li>
                    <span class="js-flot-live-info text-info font-w700"></span>
                </li>
                <li>
                    <span><i class="fa fa-refresh fa-spin text-muted"></i></span>
                </li>
                </li>
            </ul>
            <h3 class="block-title">Live</h3>
        </div>
        <div class="block-content block-content-full">
            <div class="js-flot-live" style="height: 360px;"></div>
        </div>
    </div>
    showCountdown: {{showCountdown}}
    showAlarm: {{showAlarm}}
    countdown: {{countdown}}
    <h1 class="blockdiv" ng-show="showCountdown">
        Alarm ring in: <span class="text-danger" ng-bind="countdown"></span>
    </h1>
    <h1 class="blockdiv" ng-show="showAlarm">
        Text reminder deliver to caretaker in: <span class="text-danger" ng-bind="countdown"></span>
    </h1>
    <div class="buttun btn btn-success hidden-xs-up" ng-click="testPubNub('Start counting')">Start counting</div>
</div>