<div class="content content-narrow" ng-init="initChartsFlot();">
    <h2 class="content-heading">Chart.js</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Pill(s) Intake</h3>
                </div>
                <div class="block-content block-content-full text-center">
                    <div style="height: 330px;"><canvas class="js-chartjs-lines"></canvas></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Punctuality</h3>
                </div>
                <div class="block-content block-content-full">
                    <!-- Lines Chart Container -->
                    <div class="js-flot-lines" style="height: 330px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Weight</h3>
                </div>
                <div class="block-content block-content-full text-center">
                    <div style="height: 330px;"><canvas class="js-weight-chart-lines"></canvas></div>
                </div>
            </div>
        </div>
    </div>
</div>